*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-image:linear-gradient(gray,black);
  color: #333;
}

.container {
  max-width: 700px;
  margin:0 auto;
  background-color: rgb(247, 245, 242);
  padding:2rem;
}

.weather-box {
  margin-top: 20px;
  padding: 15px 30px;
  background: rgb(70, 70, 78);
  border-radius: 10px;
  border-bottom: 2px solid #334b4d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

input {
  padding: 8px;
  width: 70%;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  margin-bottom: 10px;
}

.lesson ul{
    list-style:none;
}
